// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

html, body {
  height: 100%;
}

.logo {
  background-image: url('/images/logo.png');
  background-size: cover;
  width: 250px;
  height: 250px;
  margin: 35px auto;
}

body {
  background-image: url('/images/background.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

h1 a {
  color: inherit;
}

h1 {
  display: none;
}
