<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5156d7f64fe44c98"></script>
<script type="text/javascript">
  var addthis_share = {
    url: '<%= settings.share_url %>',
    title: 'Landing Page',
    templates: {
      twitter: '<%= settings.twitter_text %>'
    }
  };
</script>
<!-- AddThis Button END -->