<div class="row">
  <div class="small-6 columns">
    <h4 class="subheader"><%= settings.product_blurb %></h4>
  </div>
  <div class="small-6 columns">
    <p><em><%= settings.call_to_action %></em></p>
    <form action="/register" method="post">
      <input type="text" name="email" placeholder="email address" />
      <input type="hidden" name="ref" />
      <input type="submit" class="postfix button expand" />
    </form>
  </div>
</div>